* {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #eee;
    background-color: #333333;
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

header {
    background-color: #333333;
}

#main_header h1 {
    text-align: center;
    color: white;
}

#profile {
    margin: 10px;
    padding: 10px;
}

#profile div {
    display: block;
}

#profileInfo {
    width: 48%;
    float: left;
}

#profileText {
    width: 190px;
    float: right;
}

.profileImg {
    float: left;
}

#contactInfo {
    width: 290px;
    float: left;
    margin-left: 100px;
}

#contactInfo ul {
    margin-left: 30px;
}